<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>这是八卦，嗨嗨嗨</string>
		<key>icon</key>
		<string>1.png</string>
		<key>name</key>
		<string>sam</string>
		<key>vip</key>
		<string>1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>这是八卦，嗨嗨嗨</string>
		<key>icon</key>
		<string>1.png</string>
		<key>name</key>
		<string>sam</string>
		<key>vip</key>
		<string>1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>这是八卦，嗨嗨嗨</string>
		<key>icon</key>
		<string>1.png</string>
		<key>name</key>
		<string>sam</string>
		<key>vip</key>
		<string>1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>这是八卦，嗨嗨嗨</string>
		<key>icon</key>
		<string>1.png</string>
		<key>name</key>
		<string>sam</string>
		<key>vip</key>
		<string>1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>这是八卦，嗨嗨嗨</string>
		<key>icon</key>
		<string>1.png</string>
		<key>picture</key>
		<string>2.png</string>
		<key>name</key>
		<string>sam</string>
		<key>vip</key>
		<string>1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>这是八卦，嗨嗨嗨</string>
		<key>icon</key>
		<string>1.png</string>
		<key>picture</key>
		<string>2.png</string>
		<key>name</key>
		<string>sam</string>
		<key>vip</key>
		<string>1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>这是八卦，嗨嗨嗨</string>
		<key>icon</key>
		<string>1.png</string>
		<key>name</key>
		<string>sam</string>
		<key>vip</key>
		<string>1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>这是八卦，嗨嗨嗨</string>
		<key>icon</key>
		<string>1.png</string>
		<key>name</key>
		<string>sam</string>
		<key>vip</key>
		<string>1</string>
	</dict>
</array>
</plist>
