<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>诸葛亮</string>
		<key>icon</key>
		<string></string>
		<key>intro</key>
		<string>元气弹</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李元芳</string>
		<key>icon</key>
		<string></string>
		<key>intro</key>
		<string>飞镖</string>
	</dict>
	<dict>
		<key>name</key>
		<string>关羽</string>
		<key>icon</key>
		<string></string>
		<key>intro</key>
		<string>推推推</string>
	</dict>
</array>
</plist>
